<div class="row">
    <div class="col-md-12 personal-info">
        <div class="panel">
            <div class="panel-header">
                <i class="fa fa-user-o"></i> Profile Details
            </div>
            <div class="panel-container">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">First name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" [(ngModel)]='currentUser.first_name' name='f_name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Last name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" [(ngModel)]='currentUser.last_name' name='l_name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input (click)="saveName()" type="button" class="btn btn-primary btn-sm" value="Save Changes">
                        </div>
                    </div>
                </form>
            </div>
            <hr/>
            <div class="panel-container">         
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">DoB :</label>
                        <div class="col-lg-8">
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input (click)="click()" type="button" class="btn btn-primary btn-sm" value="Save Changes">
                        </div>
                    </div>
                </form>
            </div>
            <hr/>
            <div class="panel-container">         
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Gender :</label>
                        <div class="col-lg-8">
                            <ul class="list-inline">
                                <li><input type="radio" name="gender" value="male"> Male<br></li>
                                <li><input type="radio" name="gender" value="female"> Female<br></li>
                                <li><input type="radio" name="gender" value="other"> Other</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input (click)="click()" type="button" class="btn btn-primary btn-sm" value="Save Changes">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>