<div class="row">
    <div class="col-md-12 personal-info">
        <div class="panel">
            <div class="panel-header">
                <i class="fa fa-key"></i> Password
            </div>
            <div class="panel-container">         
                        
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" [(ngModel)]='password' name='password'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Confirm password:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" [(ngModel)]='confirmPassword' name='confirmPassword'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input (click)="savePassword()" type="button" class="btn btn-primary" value="Save Changes">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>