<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/#']">MGN</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/blogs']">Blogs</a></li>
        </ul>
        <ul *ngIf="!showMenu" class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/login']">Login</a></li>
            <li><a [routerLink]="['/register']">Register</a></li>
        </ul>
        <ul *ngIf="showMenu" class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/connections']"><i class="fa fa-address-book-o"></i></a></li>
            <li><a [routerLink]="['/notifications']"><i data-count="4" class="notification-icon fa fa-bell-o"></i></a></li>
            <!--li class="dropdown">
                <a (click)="getNotifications()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i data-count="4" class="notification-icon fa fa-bell-o"></i>
                </a>
                <div class="dropdown-container dropdown-menu">
                    <div class="dropdown-toolbar">
                        <div class="dropdown-toolbar-actions">
                        <a href="#">Mark all as read</a>
                        </div>
                        <h3 class="dropdown-toolbar-title">Notifications</h3>
                    </div>
                    <ul class="dropdown-menu">
                        <li class="notification" *ngFor="let notification of notifications">
                            <div class="media">
                                <div class="media-left">
                                <div class="media-object">
                                    <img alt="50x50" class="img-circle" data-holder-rendered="true" data-src="holder.js/50x50?bg=cccccc" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15b13b2de3f%20text%20%7B%20fill%3A%23919191%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15b13b2de3f%22%3E%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22%23cccccc%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%227.5%22%20y%3D%2229.5%22%3E50x50%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" style="width: 50px; height: 50px;">
                                </div>
                                </div>
                                <div class="media-body">
                                <strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>
                                <p class="notification-desc">{{notification.n_message}}</p>

                                <div class="notification-meta">
                                    <small class="timestamp">{{notification.n_created}}</small>
                                </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown-footer text-center">
                        <a [routerLink]="['/notifications']">View All</a>
                    </div>
                </div>
            </li-->
            <li><a [routerLink]="['/messages']" fragment="Inbox"><i data-count="2" class="notification-icon fa fa-envelope-o"></i></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.first_name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/#']">
                            <img class="profile-pic-25" src="{{currentUser.profile_pic}}"/>
                            {{currentUser.full_name}}
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <!--li><a [routerLink]="['/subscriptions']"><i class="fa fa-shopping-cart"></i> Subscriptions</a></li>
                    <li class="dropdown-header">Others</li-->
                    <li><a [routerLink]="['/settings/profile']"><i class="fa fa-gear"></i> Settings</a></li>
                    <li><a  (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div>